################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorHelloWorld/.vs/BlazorHelloWorld/DesignTimeBuild/.dtbcache.v2
